/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
logos
/public/admin/images/logos/academia-corpo-em-movimento/aAyIRtdXBd7cf7XQD71UnqmYF2pg7XExVwqY0Ccj.png
/public/admin/images/logos/apollo-sports/BTOXG6GkO7Fs63OUJ61M0rTaCOM0hyu13G6bH5xj.png
/public/admin/images/logos/apollo-sports/BUF8Yxf3aFaJLMZCfKVuFrVQ78XjqFPYEs9YHu4U.jpg
/public/admin/images/logos/cross-training-silvinha-nogueira/uKTIqzecZgKInetqQEKjSfidv5XwKPZdJe1VWgWE.jpg
/public/admin/images/logos/doss-health-center/MYjXZjheP5FrsbeatTyEOq8iwR0dnaU8N9bxmWXD.png
/public/admin/images/logos/espaco-fitness-congonhal/JmY6EZulph0fS239RQKgbLDQjhLvhzllSPk8e8sE.jpg
/public/admin/images/logos/espaco-fitness-pouso-alegre/2bEylyG2NRl95l6oGrPAS3QxuiVjahXBS5eKOxYR.jpg
/public/admin/images/logos/espaco-fitness-scja/BGZsK7Tl1q6N2C00UaiPDYaullynihdswUI9HCKU.jpg
/public/admin/images/logos/gefit-academia/i2xrsC7tBFYKPKS3QWtAWw6ZRbSpiPzXLuha70dv.png
/public/admin/images/logos/gefit.png
/public/admin/images/logos/live-arvore-grande/5jqYCSvejDOQipZEFnKQQo0szcjYFRqziaaeV3FO.png
/public/admin/images/logos/live-centro/CXLcjALmjgCXo6dRIchxyvpCjxWGVTSo6AB4YNcx.jpg
/public/admin/images/logos/matrix-academia/5kLu0pFy8rVIsoVO1DVlUumCjcPoP6hCF5Cl0RZZ.png
/public/admin/images/logos/moviment-academia/jMvawvohold6CUDS5ek0f1iqAUTpBLCrgWVIrFAy.jpg
/public/admin/images/logos/olimpos-fitness-center/Pf3smMcYiftVfjvvsFvYso2oRl3eXJAZYwhdNsRg.jpg
/public/admin/images/logos/padrao.png
/public/admin/images/logos/w-fit-academia/7TQLa2osboZncPp7mMzS42zII0y8ARIFzJhTqoBI.png
aAyIRtdXBd7cf7XQD71UnqmYF2pg7XExVwqY0Ccj.png
BTOXG6GkO7Fs63OUJ61M0rTaCOM0hyu13G6bH5xj.png
BUF8Yxf3aFaJLMZCfKVuFrVQ78XjqFPYEs9YHu4U.jpg
uKTIqzecZgKInetqQEKjSfidv5XwKPZdJe1VWgWE.jpg
MYjXZjheP5FrsbeatTyEOq8iwR0dnaU8N9bxmWXD.png
JmY6EZulph0fS239RQKgbLDQjhLvhzllSPk8e8sE.jpg
2bEylyG2NRl95l6oGrPAS3QxuiVjahXBS5eKOxYR.jpg
BGZsK7Tl1q6N2C00UaiPDYaullynihdswUI9HCKU.jpg
i2xrsC7tBFYKPKS3QWtAWw6ZRbSpiPzXLuha70dv.png
gefit.png
5jqYCSvejDOQipZEFnKQQo0szcjYFRqziaaeV3FO.png
CXLcjALmjgCXo6dRIchxyvpCjxWGVTSo6AB4YNcx.jpg
5kLu0pFy8rVIsoVO1DVlUumCjcPoP6hCF5Cl0RZZ.png
jMvawvohold6CUDS5ek0f1iqAUTpBLCrgWVIrFAy.jpg
Pf3smMcYiftVfjvvsFvYso2oRl3eXJAZYwhdNsRg.jpg
padrao.png
7TQLa2osboZncPp7mMzS42zII0y8ARIFzJhTqoBI.png
